<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325731480867-79faccfl9b1bnudo1o205vcnkr1hkroj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325731480867-79faccfl9b1bnudo1o205vcnkr1hkroj</string>
	<key>API_KEY</key>
	<string>AIzaSyDY4-jS3dXpjpbWWSxkMGJUp95U6CbW5NU</string>
	<key>GCM_SENDER_ID</key>
	<string>325731480867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yofardev.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-flutter-b3a23</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-flutter-b3a23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325731480867:ios:06330e76423af0cf140896</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-flutter-b3a23.firebaseio.com</string>
</dict>
</plist>